In [92]:
import pandas as pd
import numpy as np

In [97]:
file = pd.read_csv("../wdbc.csv")
df = pd.DataFrame(file)
df.head()
num_rows = 568

In [98]:
#row_slice = df[1:2]
#print(row_slice)
#row_slice.dtypes
df.iloc[0]

ID        842517
Type           M
1          20.57
2          17.77
3          132.9
4         1326.0
5        0.08474
6        0.07864
7         0.0869
8        0.07017
9         0.1812
10       0.05667
11        0.5435
12        0.7339
13         3.398
14         74.08
15      0.005225
16       0.01308
17        0.0186
18        0.0134
19       0.01389
20      0.003532
21         24.99
22         23.41
23         158.8
24        1956.0
25        0.1238
26        0.1866
27        0.2416
28         0.186
29         0.275
30       0.08902
Name: 0, dtype: object

In [99]:
df = df.sample(frac=1)
df.head()

,ID,Type,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,29,30
243,884180,M,19.40,23.50,129.10,1155.0,0.10270,0.15580,0.20490,0.08886,...,21.65,30.53,144.9,1417.0,0.1463,0.2968,0.3458,0.1564,0.2920,0.07614
253,886226,M,19.45,19.33,126.50,1169.0,0.10350,0.11880,0.13790,0.08591,...,25.70,24.57,163.1,1972.0,0.1497,0.3161,0.4317,0.1999,0.3379,0.08950
125,866083,M,13.61,24.69,87.76,572.6,0.09258,0.07862,0.05285,0.03085,...,16.89,35.64,113.2,848.7,0.1471,0.2884,0.3796,0.1329,0.3470,0.07900
41,855625,M,19.07,24.81,128.30,1104.0,0.09081,0.21900,0.21070,0.09961,...,24.09,33.17,177.4,1651.0,0.1247,0.7444,0.7242,0.2493,0.4670,0.10380
48,857156,B,13.49,22.30,86.91,561.0,0.08752,0.07698,0.04751,0.03384,...,15.15,31.82,99.0,698.8,0.1162,0.1711,0.2282,0.1282,0.2871,0.06917

In [100]:
df.iloc[0]

ID        884180
Type           M
1           19.4
2           23.5
3          129.1
4         1155.0
5         0.1027
6         0.1558
7         0.2049
8        0.08886
9         0.1978
10          0.06
11        0.5243
12         1.802
13         4.037
14         60.41
15       0.01061
16       0.03252
17       0.03915
18       0.01559
19       0.02186
20      0.003949
21         21.65
22         30.53
23         144.9
24        1417.0
25        0.1463
26        0.2968
27        0.3458
28        0.1564
29         0.292
30       0.07614
Name: 243, dtype: object